SNA_RELEASE_TAG=0.18.0
SNA_HTTPS_PORT=8443
SNA_ALLOWED_HOSTS=addresses.gov.sy
SNA_TOKEN_TTL_SECONDS=3600
SNA_BOOTSTRAP_ADMIN_USERNAME=state-admin
SNA_BOOTSTRAP_ADMIN_PASSWORD=REPLACE_WITH_LONG_RANDOM_VALUE
SNA_TOKEN_SECRET=REPLACE_WITH_AT_LEAST_32_RANDOM_CHARACTERS
POSTGRES_PASSWORD=REPLACE_WITH_LONG_RANDOM_VALUE
